<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/styles.css"/>
    <script src="/public/js/app.js"></script>
  </head>
  <body>
   <h1><a href="/">Poetry in Motion</a></h1>
   {{{body}}}
  </body>
</html>